@import "../../../assets/styles/scss/components/social";
:host {
  margin-left: -5px;
  margin-right: -5px;
  margin-top: -5px;
  display: block;
}
.wrapper {
  margin: 6px;
}

.profile-picture{
  width:128px;
  height:128px;
}